{%extends 'bootstrap/base.html'%}

{%block title%}
	{% if title%} {{title}} - TwoHBook
	{%else%} Welcome to TwoHBook
	{%endif%}
{%endblock%}

{%block navbar%}
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
					<a class="navbar-brand" href="{{url_for('dashboard')}}">TwoHBook</a>
				<div class="collapse navbar-collapse" id="example-collapse" >
					<ul class="navbar-nav mr-auto">
						<li class="nav-item"><a class="nav-link" href="{{url_for('dashboard')}}">Home</a></li>
						{%if current_user.is_anonymous%}
							<li class="nav-item"><a class="nav-link" href="{{url_for('index')}}">Login</a></li>
						{%else%}
							<li class="nav-item"><a class="nav-link" href="{{url_for('starred')}}">Starred</a></li>
							<li class="nav-item"><a class="nav-link" href="{{url_for('my_listings')}}">My Listing</a></li>
							<li class="nav-item"><a class="nav-link" href="{{url_for('user', username=current_user.username)}}">Profile</a></li>
							<li class="nav-item"><a class="nav-link" href="{{url_for('logout')}}">Logout</a></li>
						{%endif%}
					</ul>
				</div>
			</div>
		</nav>
{%endblock%}

{%block content%}
	<div class="container"></div>
		{% with messages= get_flashed_messages()%}
		{%if messages%}
			{%for message in messages%}
				<div class="alert alert-info" role="alert">{{message}}</div>
			{%endfor%}
		{%endif%}
		{%endwith%}

		{%block app_content%} {%endblock%}
{%endblock%}

{%block scripts%}
	{{super()}}
	{{ moment.include_moment() }}
{%endblock%}
