{%extends "base.html"%}
{%block app_content%}
	<h2>Hi, {{current_user.username}}</h2>
	<h3>Listings</h3>
	{%for post in posts%}
	<table class="table table-hover">
		<tr>
			<td width="70px">
				<img src="{{post.author.avatar(32)}}" alt="profile pic">
				{%if post.author != current_user%}
					{%if not current_user.is_starred(post)%}
						<a href="{{url_for('star', postid=post.id)}}">Star</a>
					{%else%}
						<a href="{{url_for('unstar', postid=post.id)}}">Unstar</a>
					{%endif%}
				{%endif%}
			</td>
			<td>
				{{post.author.username}} listed: <br>
				Book Name: <b>{{post.book_name}}</b> <br>
				Branch: <b>{{post.branch}}</b><br>
				Year: <b>{{post.year}}</b><br>
				Cost: <b>{{post.cost}}</b>
			</td>
		</tr>
	</table>
	{%endfor%}
	<nav aria-label="Page navigation example">
	  <ul class="pagination">
		{%if prev_url%}
			<li class="page-item"><a class="page-link" href="{{prev_url}}">Previous</a></li>
		{%endif%}
		{%if next_url%}
			<li class="page-item"><a class="page-link" href="{{next_url}}">Next</a></li>
		{%endif%}
	  </ul>
	</nav>
{%endblock%}
